#logo{
    width: 160px;
    height: 100px;
    padding: 15px;
}

#centrado{
    display: inline-flex;
}

#busqueda{
    

    width: 350px;
    height: 50px;
    margin: 15px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid grey;
    text-align: right;   
}

#texto{
    text-align: left;
}

#mover{
    padding-left: 125px;
}

#icono{
    width: 12px;
    height: 12px;
}

#cajai{
    width: 30px;
    height: 30px;
    text-align: center;
    padding-bottom: 10px;
    border: 1px solid;
    border-radius: 50px;
    background-color: #FF385C;
    
}

#anfitrion{
    border: none;
    background-color: white;
    margin: 10px;
}

#globo{
    text-align: right;
    margin: 20px;
}

#doble{
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid grey;
    border-radius: 25px;
    margin: 10px;
}

#botones{
    display: inline-flex;
}


/*El centro*/

#opciones{
    width: 700px;
}

#opciones button{
    background-color: white;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 5px;
    font-size: medium;
}

#masinfo{
    font-size: small;
}

#muestra{
    display: inline-flex;
}

.flecha{
    border: 1px solid grey;
    border-radius: 360px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.estancias{
    width: 200px;
    height: 160px;
    border: 1px solid grey;
    border-radius: 10px;
}

aside{
    text-align: right;
}

/* Cosas del footer */

footer{
    position: absolute;
    bottom: 0;
}

ul{
    list-style: none;
}

/*Estructura web semantica

header --> es la cabecera de las paginas, que suele incluir los titulos y la introduccion

footer --> el pie de pagina, suele incluir los links de ayuda o de ampliacion de informacion

section --> junto con el aside forman el cuerpo de la pagina como tal, en el se introducen los articles (en los que va contenida la informacion que se requiera de la pagina)

nav --> El nav es el menu de navegacion, en el que se crean los enlaces internos a las zonas mas visitadas de tu web o las que mas importantes les parezcan al diseñador

*/
